<!DOCTYPE html>
<html
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>board</title>
    <link rel="stylesheet" href="/css/board.css">
    <link rel="stylesheet" href="/css/blog.css">

    <style>
        a {
            font-size: 20px;
            text-decoration: none; /* 밑줄 제거 */
            color: black; /* 글자 색상 검은색으로 설정 */
        }
        a:hover {
            cursor: pointer;
            color: black;
        }
        .pagination-container {
            display: flex;
            justify-content: center; /* 가운데 정렬 */
            margin-top: 20px; /* 페이지네이션과 다른 요소 사이에 여백 추가 */
        }

        .pagination {
            display: flex;
            list-style: none;
            padding: 0;
        }
        .page-item {
            margin: 0 5px; /* 페이지 번호 사이 여백 */
        }

        .page-link {
            display: block;
            padding: 10px 15px;
            color: black;
            text-decoration: none;
            border: 1px solid #ddd;
            border-radius: 5px;
        }

        .page-item.disabled .page-link {
            color: #ddd;
            pointer-events: none; /* 클릭 방지 */
        }

        .page-item.active .page-link {
            background-color: #007bff;
            color: white;
            border-color: #007bff;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div id="blog-container">
        <h1 id="blog-title" th:text="${board.boardTitle}">boardTitle</h1>
        <input type="hidden" th:value="${board.blogId}" id="blogId">


        <div id="blog-info">
            <a id="blog-author" th:href="@{/blog/{username}(username=${board.userName})}" th:text="${board.blogName}">blogName</a>
            <span id="blog-date" th:text="${board.createAt}">boardcreatedAt</span>
        </div>
        <div id="blog-tags">

        </div>
        <div id="blog-content">

        </div>
        <hr>
        <div id="profile" class="profile">
            <img th:src="@{${board.userImgPath}}" alt="Profile Image" class="profile-image" id="profile-image">
            <div class="profile-info">
                <a id="profile-name" th:href="@{/blog/{username}(username=${board.userName})}" th:text="${board.blogName}">블로그이름</a>
            </div>
        </div>
        <hr>
        <div id="comments-section">
<!--            <h2 th:text="${replies.size()} + '개의 댓글'">10개의 댓글</h2>-->
            <div id="comment-form">
                <textarea id="comment-input" placeholder="댓글을 작성하세요"></textarea>
                <button id="comment-submit">댓글 작성</button>
            </div>
            <div id="comments-list">
<!--                    <div class="comment-footer">-->
<!--                        <span class="comment-replies-toggle">2개의 답글</span>-->
<!--                    </div>-->
<!--                    <div class="comment-replies">-->
<!--                        <div class="reply">-->
<!--                            <div class="comment-header">-->
<!--                                <img src="path_to_profile_image" alt="프로필 이미지" class="comment-profile-img">-->
<!--                                <span class="comment-username">ShinJuYong</span>-->
<!--                                <span class="comment-time">5일 전</span>-->
<!--                            </div>-->
<!--                            <div class="comment-body">-->
<!--                                <p>대댓글</p>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
            </div>
        </div>
        <!-- Pagination -->
        <div class="pagination-container">
            <ul class="pagination">
                <li th:class="${replies.first} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" href="#" onclick="fetchComments(0)">처음으로</a>
                </li>
                <li th:class="${replies.hasPrevious()} ? 'page-item' : 'page-item disabled'">
                    <a class="page-link" href="#" onclick="fetchComments(${replies.number - 1})">이전페이지</a>
                </li>
                <li th:each="i : ${#numbers.sequence(0, replies.totalPages - 1)}" th:class="${replies.number == i} ? 'page-item active' : 'page-item'">
                    <a class="page-link" href="#" onclick="fetchComments(${i})" th:text="${i + 1}">1</a>
                </li>
                <li th:class="${replies.hasNext()} ? 'page-item' : 'page-item disabled'">
                    <a class="page-link" href="#" onclick="fetchComments(${replies.number + 1})">다음페이지</a>
                </li>
                <li th:class="${replies.last} ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" href="#" onclick="fetchComments(${replies.totalPages - 1})">마지막으로</a>
                </li>
            </ul>
        </div>

    </div>

    <script th:inline="javascript">
        let obj = [[${board}]];
        let tags = [[${tags}]];
        //자기게시물일때만 수정, 삭제 버튼 보이기
        let boardId = obj.boardId;
        $.ajax({
            url:"/blog/check",
            method:"GET",
            success: function(result){
                let blogId = $("#blogId").val();
                if(result == blogId){
                    $('<a>', {
                        href:'/board/update/'+boardId,
                        id: 'updateBoard',
                        text: '수정'
                    }).appendTo('#blog-info');
                    // 삭제 링크 생성 및 추가
                    $('<a>', {
                        id: 'deleteBoard',
                        text: '삭제'
                    }).appendTo('#blog-info');
                    $("#deleteBoard").click(function(){

                        $.ajax({
                            url:"/board/delete/"+boardId,
                            method: "DELETE",
                            success:function(result){
                                if(result=='ok'){
                                    window.location.href = "/blog/mypage";
                                }
                            },
                            error:function(err){
                                console.log(err);
                            }
                        })
                    })
                }
            },
            error:function(err){
                console.log(err);
            }
        })
        // tagName을 기준으로 오름차순으로 정렬
        tags.sort((a, b) => {
            if (a.tagName < b.tagName) {
                return -1;
            }
            if (a.tagName > b.tagName) {
                return 1;
            }
            return 0;
        });
        tags.forEach(function(tag){
            let newTag = $('<span>').addClass('tag');
            newTag.text(tag.tagName);
            $("#blog-tags").append(newTag);
        })

        document.getElementById('blog-content').innerHTML += obj.boardContent;

        //대댓글 등록
        function addRecomment(replyId){
            let value = $('#recommentInput-'+replyId).val();
            console.log(value);
            if(value==''){
                alert('빈값입니다');
                return;
            }
            $.ajax({
                url:'/board/addCommentReply',
                method:'POST',
                contentType: 'application/json; charset=utf-8',
                data:JSON.stringify({
                    preReplyId:replyId,
                    replyContent:value,
                    boardId:boardId
                }),
                success:function(result){
                    console.log(result);
                },
                error:function(err){
                    console.log(err);
                }
            })
        }

        //대댓글 불러오기
        function viewRecomment(replyId){

            $.ajax({
                url:'/board/getCommentReplies',
                method:'GET',
                data:{
                    replyId:replyId
                },
                success:function(result){
                    let commentContainer = $('#comment-' + result[0].preReplyId);
                    console.log(commentContainer);
                    commentContainer.empty();
                    // 각 답글을 댓글 컨테이너에 추가합니다
                    result.forEach(function (reply) {
                        let replyHtml = `
                    <div class="reply">
                        <div class="recomment">
                            <div class="comment-header">
                                <img src="${reply.userImgPath}" alt="프로필 이미지" class="comment-profile-img">
                                <a class="comment-username">${reply.username}</a>
                            </div>
                            <div class="comment-body">
                                <p>${reply.replyContent}</p>
                            </div>
                        </div>
                    </div>`;
                        commentContainer.append(replyHtml);
                    });
                },
                error:function(err){
                    console.log(err)
                }
            })
        }

        // 댓글 불러오기
        function fetchComments(page) {
            $.ajax({
                url: '/board/getReplies',
                method: 'GET',
                data: {
                    boardId: boardId,
                    page: page
                },
                success: function(response) {
                    $('#comments-list').empty();
                    console.log(response);
                    response.content.forEach(function(reply) {
                        console.log(reply);
                        let commentHtml = `
                            <div class="comment">
                                <div class="comment-header">
                                    <img src="${reply.userImgPath}" alt="프로필 이미지" class="comment-profile-img">
                                    <a class="comment-username">${reply.username}</a>
                                    <span class="comment-time">${new Date(reply.replyCreated).toLocaleDateString()}</span>
                                </div>
                                <div class="comment-body" >
                                    <p>${reply.replyContent}</p>
                                </div>
                                <div class="recomment-body" id="comment-${reply.replyId}">
                                <a id="recommentView" onclick="viewRecomment(${reply.replyId})">답글 보기</a>
                                </div>
                                <div class="comment-footer">
                                    <div class="reply-form" id="reReply-form">
                                       <textarea id="recommentInput-${reply.replyId}" placeholder="답글을 작성하세요" style="width: 85%"></textarea>
                                       <button id="recommentSubmit" onclick="addRecomment(${reply.replyId})">답글 작성</button>
                                    </div>
                                </div>
                            </div>`;
                        $('#comments-list').append(commentHtml);
                    });
                    // 페이지네이션 업데이트
                    $('.pagination').empty();
                    let paginationHtml = `
                        <li class="${response.first ? 'page-item disabled' : 'page-item'}" >
                            <a class="page-link" href="#" onclick="fetchComments(0)">처음으로</a>
                        </li>`;
                    for (let i = 0; i < response.totalPages; i++) {
                        paginationHtml += `
                            <li class="${response.number == i ? 'page-item active' : 'page-item'}">
                                <a class="page-link" href="#" onclick="fetchComments(${i})">${i + 1}</a>
                            </li>`;
                    }
                    paginationHtml += `
                        <li class="${response.last ? 'page-item disabled' : 'page-item'}">
                            <a class="page-link" href="#" onclick="fetchComments(${response.totalPages - 1})">마지막으로</a>
                        </li>`;
                    $('.pagination').append(paginationHtml);
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }

        //댓글등록
        $('#comment-submit').click(function(){
            let value = $('#comment-input').val();
            let boardId = obj.boardId;
            if(value==''){
                alert('값을 입력하세요');
                return;
            }
            $.ajax({
                url:'/board/addReply',
                method:'POST',
                data:{
                    replyContent:value,
                    boardId:boardId
                },
                success:function(result){
                    console.log(result);
                    $('#comment-input').val('');
                    fetchComments();
                },
                error:function(err){
                    console.log(err);
                }
            })
        })
        fetchComments(0);
    </script>
</div>
</body>
</html>