<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<!--공통 JS / CSS 영역을 관리하는 환경 영역-->
<head>
    <meta charset="UTF-8" />
    <title>thymeleaf layout</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1, user-scalable=yes,initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <style>
        html, body {
            height: 100%;
            margin: 0;
        }
        .wrapper {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
        .content {
            flex: 1;
        }

    </style>
</head>
<body>
<div class="wrapper">
    <!-- header fragment 사용 -->
    <th:block th:replace="~{fragments/header :: headerFragment}"></th:block>

    <!-- content fragment 사용 -->
    <div class="content">
        <th:block layout:fragment="content"></th:block>
    </div>

    <!-- footer fragment 사용 -->
    <div th:replace="~{fragments/footer :: footerFragment}"></div>
</div>

<script>
    $(document).ready(function(){
    })
</script>
</body>
</html>
