<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>설정페이지</title>
    <link rel="stylesheet" href="/css/setting.css">

</head>
<body>
<div layout:fragment="content">
    <div class="container" id="container1">
        <div class="profile-header" id="myInfo">
            <img th:src="${user.imagePath}" alt="Profile Image" class="profile-image">
            <input type="text" class="profile-name" readonly id="updateInput" th:value="${user.name}"/>
            <a href="#" class="edit-link" id="updateUserName">수정</a>

        </div>
        <input  type="file" class="form-control" id="imageChange" th:value="이미지업로드"/>
        <div class="profile-details">
            <div class="detail-item" id="myBlogInfo">
                <span class="detail-title">블로그 제목</span>
                <input type="text" class="detail-content" readonly id="updateInputBlogName" th:value="${blog.blogName}">
                <a href="#" class="edit-link" id="updateBlogName">수정</a>
            </div>
            <div class="detail-item" id="myEmailInfo">
                <span class="detail-title">이메일 주소</span>
                <input type="text" class="detail-content" readonly id="updateInputEmail" th:value="${user.email}">
                <a href="#" class="edit-link" id="updateEmail">수정</a>
            </div>
            <div class="detail-item">
                <span class="detail-title">이메일 수신 설정</span>
                <div class="toggle-buttons">
                    <label for="emailStatusInput" class="toggle-label">이메일 수신 여부</label>
                    <label class="switch">
                        <input type="checkbox" th:checked="${user.emailStatus}" id="emailStatusInput">
                        <span class="slider"></span>
                    </label>

                </div>
            </div>
            <form action="/user/deleteUser" method="POST" id="deleteForm">
                <button type="button" class="btn1 btn-primary btn-lg btn-block" id="deleteUser">회원 탈퇴</button>
            </form>
        </div>
    </div>


<script>
    function bindEditButton() {
        $("#updateUserName").click(function(){
            $("#updateInput").prop('readonly', false);
            $(this).remove();
            const button = $('<button>', {
                type: 'button',
                class: 'btn btn-info',
                id: 'infoSaveBtn',
                text: '저장'
            });
            $("#myInfo").append(button);

            $("#infoSaveBtn").click(function (){
                let val = $("#updateInput").val();
                $.ajax({
                    url:"/api/user/updatename",
                    method:"PUT",
                    data: {
                        name: val
                    },
                    success:function(result){

                        $("#updateInput").prop('readonly', true);
                        $("#infoSaveBtn").remove();
                        const editLink = $('<a>', {
                            href: '#',
                            class: 'edit-link',
                            id: 'updateUserName',
                            text: '수정'
                        });
                        $("#myInfo").append(editLink);
                        bindEditButton(); // Re-bind the edit button
                    },
                    error:function (err){
                        console.log(err);
                    }
                });
            });
        });
    }

    function updateBlogName(){
        $('#updateBlogName').click(function(){
            $('#updateInputBlogName').prop('readonly',false);
            $(this).remove();
            const button = $('<button>', {
                type: 'button',
                class: 'btn btn-info',
                id: 'infoNameSaveBtn',
                text: '저장'
            });
            $("#myBlogInfo").append(button);
            $('#infoNameSaveBtn').click(function(){
                let value = $('#updateInputBlogName').val();
                $.ajax({
                    url:'/blog/updateBlogName',
                    method:'PUT',
                    data:{
                        blogName:value
                    },
                    success:function(result){

                        $('#updateInputBlogName').prop('readonly',true);
                        $('#infoNameSaveBtn').remove();
                        const editLink = $('<a>', {
                            href: '#',
                            class: 'edit-link',
                            id: 'updateBlogName',
                            text: '수정'
                        });
                        $("#myBlogInfo").append(editLink);
                        updateBlogName();
                    },
                    error:function(err){
                        console.log(err);
                    }

                })
            })
        })
    }
    function updateEmail(){
        $('#updateEmail').click(function(){
            $('#updateInputEmail').prop('readonly',false);
            $(this).remove();
            const button = $('<button>', {
                type: 'button',
                class: 'btn btn-info',
                id: 'infoEmailSaveBtn',
                text: '저장'
            });
            $('#myEmailInfo').append(button);
            $('#infoEmailSaveBtn').click(function(){
                let val = $('#updateInputEmail').val();
                $.ajax({
                    url:'/api/user/updateEmail',
                    method:'PUT',
                    data:{
                        email:val
                    },
                    success:function(result){

                        $('#updateInputEmail').prop('readonly',true);
                        $('#infoEmailSaveBtn').remove();
                        const editLink = $('<a>', {
                            href: '#',
                            class: 'edit-link',
                            id: 'updateEmail',
                            text: '수정'
                        });
                        $("#myEmailInfo").append(editLink);
                        updateEmail();
                    },
                    error:function(err){
                        console.log(err);
                    }
                })
            })
        })
    }
    bindEditButton();
    updateBlogName();
    updateEmail();
    $("#emailStatusInput").click(function(){
        let check = $('#emailStatusInput').is(":checked");
        $.ajax({
            url:'/api/user/updateEmailStatus',
            method:'PUT',
            data:{
                emailStatus:check
            },
            success:function(result){

                $('#emailStatusInput').prop('checked' , result);
            },
            error:function(err){
                console.log(err);
            }
        })
    })
    $('#deleteUser').click(function(){
        let chk = confirm('정말로 삭제하시겠습니까?');
        if(chk){
            $('#deleteForm').submit();
        }
    })

    $("#imageChange").change(function(){
        let beforeImg = $(".profile-image").attr("src");//현재파일경로
        let file =$("#imageChange")[0].files[0];
        console.log(file);
        let nowFile = new FormData();
        nowFile.append("imageFile" , file);
        nowFile.append("beforeImg" , beforeImg);
        $.ajax({
            url: "/api/user/updateImg",
            method: "POST",
            data: nowFile,
            contentType: false,
            processData: false,
            success:function(result){
                $(".profile-image").attr("src",result);
                $("#imageChange").val('');
            },
            error:function(err){
                console.log('2222'+err);
            }
        })
    })




</script>
</div>
</body>
</html>