<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default_layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/blog.css">
    <style>
        .card-img-top {
            width: 100%;       /* 부모 요소의 너비에 맞추기 */
            height: 200px;     /* 고정 높이 설정 */
            object-fit: cover; /* 이미지가 고정된 크기에 맞게 잘리도록 설정 */
        }
    </style>
    <script>


            function boardClick() {
                $("#content > div").hide(); // 모든 컨텐츠 숨기기
                $("#posts-content").show(); // 글 컨텐츠 보이기
            }

            function seriesClick(){
                $("#content > div").hide(); // 모든 컨텐츠 숨기기
                $("#series-content").show(); // 시리즈 컨텐츠 보이기
            }

            function aboutClick() {
                $("#content > div").hide(); // 모든 컨텐츠 숨기기
                $("#about-content").show(); // 소개 컨텐츠 보이기
            }

    </script>
</head>
<body>
<div layout:fragment="content">
    <input  type="hidden" id="blogname" name="blogname" th:value="${blog.getBlogDescription()}"/>
    <div id="container">
        <div id="profile" class="profile">
            <img th:src="@{${userImg}}" alt="Profile Image" class="profile-image" id="profile-image">
            <div class="profile-info">
                <h2 id="profile-name">정호현</h2>
                <div class="follow-info">
                    <span id="follower-count">0 팔로워</span>
                    <span id="following-count">0 팔로잉</span>
                </div>
            </div>
        </div>
        <nav id="nav-tabs" class="nav-tabs">
            <ul>
                <li class="tab-item" id="posts-tab" style="cursor: pointer"><a onclick="boardClick()" >글</a></li>
                <li class="tab-item" id="series-tab" style="cursor: pointer"><a onclick="seriesClick()">시리즈</a></li>
                <li class="tab-item" id="about-tab" style="cursor: pointer"><a  onclick="aboutClick()">소개</a></li>
            </ul>
        </nav>
        <div id="content" class="content">

<!--       내 글 섹션   -->
            <div id="posts-content">
                <section class="py-5">
                    <div class="container px-4 px-lg-5 mt-5">
                        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                            <div th:each="board:${boardList}" class="col mb-5" >
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img class="card-img-top" th:src="${board.firstImagePath}" alt="..."  />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 th:text="${board.boardTitle}" class="fw-bolder"></h5>
                                            <!-- Product price-->
                                            태그
                                        </div>
                                    </div>
                                    <!-- Product actions-->
                                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                        <div class="text-center">
                                            <a class="btn btn-outline-dark mt-auto" th:href="@{/board/boardInfo/{boardId}(boardId=${board.boardId})}">자세히보기</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
                <!--     내 시리즈 섹션     -->
                <div id="series-content" style="display: none;">
                    <p >시리즈</p>
                </div>
                <!--      내 소개 섹션      -->
                <div id="about-content" style="display: none;">
                    <p th:text="${blog.getBlogDescription()}"></p>
                </div>
        </div>
    </div>

</div>


</body>
</html>