<!DOCTYPE html>
<!-- Thymeleaf 선언 / headerFragment 임을 선언-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<!--headerFragment 선언-->
<div th:fragment="headerFragment">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" th:href="@{/}">blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                </ul>
                <div id="userCheck">
                    <div id="loginForm">
                        <form class="d-flex"  th:action="@{/user/loginform}">
                            <button  class="btn btn-outline-dark" type="submit">
                                로그인
                            </button>
                        </form>
                    </div>
                    <div id="blogForm">
                        <form  class="d-flex"  th:action="@{/board/boardform}">
                            <button  class="btn btn-outline-dark" type="submit">
                                새글작성
                            </button>
                        </form>
                    </div>
                </div>
                <div id="profileDropdown" class="profile-dropdown">
                    <img id="profileImage" src="" alt="Profile Image">
                    <div class="dropdown-content" id="dropdown">
                        <a href="/blog/mypage">내 벨로그</a>
                        <a href="/board/temporary">임시 글 및 비공개글</a>
                        <a href="/board/readBoard">내가 읽은 블로그</a>
                        <a href="/blog/settings">설정</a>
                        <a href="/user/logout">로그아웃</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let cookies = document.cookie.split(";");
            let loginForm = $("#loginForm");
            let blogForm = $("#blogForm");
            if(cookies.some(cookie => cookie.includes('username'))){
                blogForm.show();
                loginForm.hide();
            } else {
                blogForm.hide();
                loginForm.show();
            }
        });

        let profileDropdown = $("#profileDropdown");
        let profileImage = $("#profileImage");
        let dropDown = $("#dropdown");
        dropDown.hide();
        // 프로필 이미지 클릭 시 드롭다운 메뉴 표시
        profileImage.on("click", function() {
            dropDown.toggle();
        });

        // 드롭다운 메뉴 외부 클릭 시 메뉴 숨기기
        $(window).on("click", function(event) {
            if (!profileDropdown.is(event.target) && profileDropdown.has(event.target).length === 0) {

                dropDown.hide();
            }
        });

        $.ajax({
            url:"/api/user/getUser",
            method:"GET",
            success:function(result){
                if(result!='noImg'){
                    $('#profileImage').attr('src', result).addClass('circular-image');
                }else{
                    $('#profileImage').hide();
                }
            },
            error:function(err){
                console.log(err);
            }
        })

    </script>
</div>
</html>